{% extends 'base.html' %}
{% block content %}

<div class="m-scene" id="main">
  <div class="m-aside scene_element scene_element--fadein">
    {% if  profile.image %}
    <img class = "profile-pic" src="/images/{{profile.image}}">
    {% endif %}
    <br/>
    <br/>
    <h6>User: </h6><h4>{{profile.name}}</h4>
    <h6>Location: </h6><h4>{{profile.city}}</h4>
    <h6>Joined on {{profile.join_date}}</h6>
    {% if user.id == profile.user.id %}
    <a href="{% url 'edit_profile' user.id %}" class="button">Edit</a>
    <a href="{% url 'travelpost_new' 0 %}" class="button">Add A Post</a>
    {% endif %}
    <hr />

  </div>
  <br/>
  <h5>Travel Posts by {{profile.name}}:</h5>
    <div class="m-right-panel m-page scene_element scene_element--fadeinright">

    <ul>
      {% for post in travelposts %}
      <a href="{% url 'travelpost_show' post.id %}" class="blog-post">{{ post.title }}</a>
      <hr />
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}