{% extends 'base.html' %} 
{% block content %}
<div class="post-page">
  <h1 class="city-name">{{ city.name }}</h1>
  <img class="city-image" src="{{ city.image }}" alt="{{city.name}}" />
  <a href="{% url 'travelpost_new' city.id %}" class="button new-post-btn">New Post</a>
  <br/>
  <hr class="header-hr"/>
  {% for post in travelposts %}
  <a href="{% url 'travelpost_show' post.id %}">
    <h3 class="city-post-title">{{ post.title }}</h3>
  </a>
  <h5 class="post-date"> - {{ post.date }}</h5>
  <p class="truncated-post-body">
    {{ post.body|truncatechars_html:1000 }}
    <a class="view-more" href="{% url 'travelpost_show' post.id %}">View More</a>
  </p>
  <hr class="header-hr"/>
  {% endfor %}
  <script>
    var pEl = document.querySelectorAll(".truncated-post-body");
    var moreEl = document.getElementsByClassName("view-more");
    for (let i = 0; i < pEl.length; i++) {
      if (pEl[i].innerText.length < 1000) {
        moreEl[i].style.display = "none";
      }
    }
  </script>
</div>
{% endblock %}
