@import url("https://use.typekit.net/ako6hpg.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: myriad-pro, sans-serif;
  font-size: 12px;
  font-weight: 300;
}

header img {
  height: 80px;
  margin-top: 50px;
  margin-left: 30px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: none !important;
}

  .landing-page {
    background-image: url('../images/LandingBackground-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }


.navbar-background {
  background-image: url('../images/NavClouds-01.png');
  pointer-events: none;
  background-size: cover;
  background-repeat: no-repeat;
  height: 30vmin;
  width: 100%;
  overflow: hidden;
  top: -90px;
  z-index: 1;

}

.title {
  color: rgb(35, 39, 46);
  font-size: 16vmin;
  height: 23vmin;
  margin: 30vh 150px 0 180px;
}

img {
  max-width: 50%;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 black;
}

a {
  color: rgb(35, 39, 46);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10 5px;
  margin: 5px;
	text-transform: uppercase;
  font-size: 14px;
  position: relative;
  top: 5px;
}
a:hover {
  color: lightskyblue
}
.auth-form {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  background-color: rgba(17, 16, 16, 0.4);
  color: #F0D5C0;
  width: 140px;
}


.navbar {
  width: 100%;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  z-index: 3;
}

.nav-button {
  margin: 15px;
  text-decoration: none;
  float: right;
  display:block;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.9);
}
/* img {
	max-width: 300px;
  max-height: 300px;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 black;
} */

.icon {
	max-width: 35px;
	border-radius: 50px;
	max-height: 35px;
	margin: 5px 0;
	margin-left: 15px;
}

.post-page {
  display: inline-block;
  height: 100%;
  margin: 50px 60px 30px 60px;
  max-width: 750px;
}

.m-scene {
  display: inline-block;
  height: 100%;
  margin: 50px 60px 30px 60px;
  width: 750px;
}
h1 {
	color: #F0D5C0;
	text-decoration: none;
}
h3, h4, h5 {
	color: #F0D5C0;
	text-decoration: none;
}
h6 {
	color: #DC7364;
}
p {
	font-size: 16px;
	font-weight: bold;
	color: #DC7364;
}
.link {
	font-size: 18px;
	color: #F0D5C0;
}
.link:hover {
	color: #DC7364;
	cursor: pointer;
}
/* ERROR MESSAGE */
.errorlist {
	color: rgb(172, 16, 16);
	background: #F0D5C0;
	font-size: 16px;
	text-decoration: none;
	padding: 3px;
	border-radius: 8px;
}
