@import url("https://use.typekit.net/ako6hpg.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: myriad-pro, sans-serif;
  font-size: 12px;
  font-weight: 300;
}

header img {
  height: 80px;
  margin-top: 50px;
  margin-left: 30px;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  max-width: none !important;
}

.landing-page {
  background-image: url('../images/LandingBackground-01.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.title {
  color: rgb(35, 39, 46);
  font-size: 16vmin;
  height: 23vmin;
  margin: 30vh 150px 0 180px;
}

img {
  max-width: 90%;
  display: inline-block;
  border-radius: 8px;
  box-shadow: 5px 5px 8px -5px rgba(0,0,0,0.26);
}

a {
  color: rgb(35, 39, 46);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10 5px;
  margin: 5px;
	text-transform: uppercase;
  font-size: 14px;
  position: relative;
  top: 5px;
}

a:hover {
  color: lightskyblue
}
.auth-form {
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  background-color: rgb(216, 216, 216);
  color: rgb(35, 39, 46);
  width: 140px;
}


.navbar {
  background-image: url('../images/NavClouds-02.png');
  background-color: rgb(86, 179, 227);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80px;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  position: fixed;
  z-index: 2;
}

.home-navbar {
  width: 100%;
  height: 80px;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  position: fixed;
  z-index: 2;
}

.nav-button {
  margin: 5px;
  text-decoration: none;
  float: right;
  display:block;
  padding: 5px 10px;
  border-radius: 20px;
  /* background-color: rgba(255, 255, 255, 0.9); */
}

/* ----------------------------------------------------- User Profile */
@media only screen and (max-width: 750px) {

  .navbar {
    justify-content: space-around;
  }

  .user-info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .profile-pic {
    width: 100%;
  }

  .username {
    text-transform: uppercase;
    margin-top: none;
  }
}

.user-info-container {
  display: flex;
  justify-content: space-between;
}

.profile-pic {
  max-width: 50%;
}

.user-info {
  display: inline-block;
}

.username {
  text-transform: uppercase;
  margin-top: 30px;
}

.blog-post {
  display: inline-block
}

.blog-post-date {
  display: inline-block;
  vertical-align: -webkit-baseline-middle; 
}

.profile-button {
  margin-top: 30px;
}

/* --------------------------------------------------- City Show Page */
.city-name {
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.city-image {
  display: block;
  margin: 0 auto;
}
.new-post-btn {
  display: block;
  margin: 30px auto 0;
}
.city-post-title {
  display: inline-block;
  text-transform: uppercase;
}
.post-date {
  display: inline-block;
  vertical-align: middle;
}

.truncated-post-body {
  font-size: 18px;
  color: rgb(35, 39, 46);
}

.view-more {
  vertical-align: text-bottom;
  font-weight: 600;
}


/* -------------------------------------------------------- Travelpost Show Page */

.post-title {
  display: block;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}

.post-place {
  display: flex;
  justify-content: space-between;
}
.post-info {
  display: flex;
  justify-content: flex-start;
}

.postshow-date {
  margin-left: 40px;
}

.likes {
  margin-top: 5px;
}

.likes-num {
  display: inline;
}

.post-body {
	font-size: 18px;
  color: rgb(35, 39, 46);
  padding-bottom: 60px;
}

/* -------------------------------------------------------- City Index Page */

.city-list {
  text-align: center;
}

.city-list-item {
  font-size: 30px;
  font-weight: 300;
}

/* -------------------------------------------------------------- */

.post-page {
  display: inline-block;
  height: 100%;
  margin: 100px 20px 30px 20px;
  max-width: 750px;
}

.m-scene {
  display: inline-block;
  height: 100%;
  margin: 100px 20px 30px 20px;
  width: 750px;
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
	color: rgb(35, 39, 46);
}

.link {
	font-size: 18px;
	color: rgb(35, 39, 46);
}

.link:hover {
	color: lightskyblue;
	cursor: pointer;
}

/* ERROR MESSAGE */
.errorlist {
	color: rgb(172, 16, 16);
	background: #F0D5C0;
	font-size: 16px;
	text-decoration: none;
	padding: 3px;
	border-radius: 8px;
}