@import url("https://use.typekit.net/ako6hpg.css");

/* CSS Reset */

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* ------------------------------------------------------- Site-wide containers */

html, body {
  min-height: 100%;
  width: 100%;
  font-family: myriad-pro, sans-serif;
  font-size: 12px;
  font-weight: 300;
}

header img {
  height: 80px;
  margin-top: 50px;
  margin-left: 30px;
}

.container {
  background-image: url('../images/SiteBackground-01.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
  min-height: 100vh;
  width: 100%;
  max-width: none !important;
}

.post-page {
  display: inline-block;
  height: 100%;
  margin: 300px 20px 30px 20px;
  max-width: 750px;
}

.m-scene {
  display: inline-block;
  height: 100%;
  margin: 300px 20px 30px 20px;
  width: 750px;
}

.title {
  color: rgb(35, 39, 46);
  font-size: 16vmin;
  height: 23vmin;
  margin: 30vh 150px 0 180px;
}

img {
  max-width: 90%;
  display: inline-block;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 8px -5px rgba(0,0,0,0.26);
          box-shadow: 5px 5px 8px -5px rgba(0,0,0,0.26);
}

a {
  color: rgb(35, 39, 46);
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10 5px;
  margin: 5px;
	text-transform: uppercase;
  font-size: 14px;
  position: relative;
  top: 5px;
}

a:hover {
  color: rgb(191, 227, 249)
}

.home-navbar a:hover {
  color: rgb(65, 143, 191)
}

.link {
	font-size: 18px;
	color: rgb(35, 39, 46);
}

.link:hover {
	color: lightskyblue;
	cursor: pointer;
}

/* ----------------------------------------------------------- Forms */

.auth-form {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button, button, input[type="submit"], input[type="reset"], input[type="button"]{
  background-color: rgb(255, 255, 255);
  color: rgb(35, 39, 46);
  width: 140px;
  -webkit-box-shadow: 5px 5px 8px -5px rgba(0,0,0,0.26);
          box-shadow: 5px 5px 8px -5px rgba(0,0,0,0.26);
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
	color: rgb(35, 39, 46);
}

/* ------------------------------------------------------------------ Navbars */

.navbar {
  background-image: url('../images/NavClouds-01.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  pointer-events: none;
  z-index: 2;
}

.navbar-strip {
  background-color: rgba(86, 179, 227, 0.7);
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 2;
  -webkit-box-shadow: 5px 5px 8px -5px rgba(0,0,0,0.26);
          box-shadow: 5px 5px 8px -5px rgba(0,0,0,0.26);
}

.nav-button {
  margin: 0 20px;
  text-decoration: none;
  float: right;
  display:block;
}

/* ----------------------------------------------------- User Profile */

.user-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
}

.profile-pic {
  max-width: 50%;
  max-height: 300px;
}

.user-info {
  display: inline-block;
}

.username {
  text-transform: uppercase;
  margin-top: 30px;
}

.blog-post {
  display: inline-block
}

.blog-post-date {
  display: inline-block;
  vertical-align: -webkit-baseline-middle; 
}

.profile-button {
  margin-top: 30px;
}

/* --------------------------------------------------- City Show Page */
.city-name {
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.city-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 400px;
}
.new-post-btn {
  display: block;
  margin: 30px auto 0;
}
.city-post-title {
  display: inline-block;
  text-transform: uppercase;
}
.post-date {
  display: inline-block;
  vertical-align: middle;
}

.truncated-post-body {
  font-size: 18px;
  color: rgb(35, 39, 46);
}

.view-more {
  vertical-align: text-bottom;
  font-weight: 600;
}


/* -------------------------------------------------------- Travelpost Show Page */

.post-title {
  display: block;
  text-align: center;
  font-weight: 300;
  margin-bottom: 30px;
}

.post-place {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
}
.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
}

.postshow-date {
  margin-left: 40px;
}

.likes {
  margin-top: 5px;
}

.likes-num {
  display: inline;
}

.post-body {
	font-size: 18px;
  color: rgb(35, 39, 46);
  padding-bottom: 60px;
}

/* -------------------------------------------------------- City Index Page */

.city-list {
  text-align: center;
}

.city-list-item {
  font-size: 30px;
  font-weight: 300;
}

/* -------------------------------------------------------------- */

/* ERROR MESSAGE */
.errorlist {
	color: rgb(186, 17, 17);
	font-size: 16px;
	text-decoration: none;
	padding: 3px;
}

/* -------------------------------------------------- Media Queries */

@media only screen and (max-width: 750px) {
  .navbar {
    justify-content: space-around;
    -ms-flex-pack: distribute;
  }

  .user-info-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
  }

  .profile-pic {
    width: 100%;
  }

  .username {
    text-transform: uppercase;
    margin-top: none;
  }
}